
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito:300,400,700');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: $yellow;
  color: $red;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

h4 > a {
    text-decoration: none !important;
}

body.pretty {
    background-image: url('/images/532782.jpg');
    height: 100%;
    background-position: absolute;
    background-repeat: no-repeat;
    background-size: cover;
}
